 <div class="adminsearch" style="width:350px;">
<% form_remote_tag :url => {:action => action, :action_type => action_type, :category_id => category_id, :country_ids => country_ids, :language_ids => language_ids}, :update => update do %>
	<%= text_field_tag('search', params[:search], :class => 'input fleft') %>
     <%= hidden_field_tag "homepage_category_id", hc.id %>
      <%= hidden_field_tag "language_id", @language %>
      <%= hidden_field_tag "country", @country %>
  <label class="fleft">Active?</label>
  <%= check_box("image", "active", {:class => 'fleft', :checked => "checked"}, "1", "0") %>
  <select id="search_field" name="search_field" class="fleft">
  	<option value="id">Design ID</option>
  	<option value="username">Username</option>
    <option value="tag_name">Tag Name</option>
    <option value="name">Design Name</option>

    <% if with_design_category %>
      <option value="category">Design Category</option>
    <% end %>

    <option value="created_on">Created On</option>
    <option value="staff">Staff Picks</option>
  </select>
	<%= image_submit_tag 'ico-search.gif', :class => 'button fleft' %>
<% end %>
</div>


