<style>
      <style type="text/css">
	  .selected {color:white; background-color:blue}
	  .test1{border-style:dotted;height:50px;width:50px;color:black;position: relative;}
	  .test2{border-style:dotted;height:100px;width:100px;color:black;position: relative;}
	  .delete{left: -6px;position: absolute;top: 45px;cursor:pointer;}
	  .resize{left: 44px;position: absolute;top: 44px;cursor:pointer;}
	  .inner{border: 1px solid black; width:62%;height:90%;margin:auto;}
	  .default { background-image: url("/../../images/izishirt2012/tshirt/white.png"); background-repeat: no-repeat;}
	  .item { width: 100%; height: 356px; border: 1px solid #000; vertical-align: middle;  float:left ;}
	  .red { background-image: url("/../../images/izishirt2012/tshirt/red.png");background-repeat: no-repeat;}
	  .blue { background-image: url("/../../images/izishirt2012/tshirt/blue.png");background-repeat: no-repeat;}
	  .orange { background-image: url("/../../images/izishirt2012/tshirt/orange.png");background-repeat: no-repeat;}
	  .white { background-image: url("/../../images/izishirt2012/tshirt/white.png");background-repeat: no-repeat;}
	  .green { background-image: url("/../../images/izishirt2012/tshirt/green.png");background-repeat: no-repeat;}
	  .pink { background-image: url("/../../images/izishirt2012/tshirt/pink.png");background-repeat: no-repeat;}
	  .yellow { background-image: url("/../../images/izishirt2012/tshirt/yellow.png");background-repeat: no-repeat;}
	  .image { width: 100px; display:block; position: relative;}
	 /* #text {width:500px;height:20px;display:block;color:white;font-weight:bolder;text-align:center}*/
	  .form {margin-top:10px;float:left;}
	  #container {width:960px;margin:0 auto;padding-top:25px;}	  
	  body {
	    background: url("images/color-bg.jpg") repeat-x left top;
	  }
      .canvas-container{ margin: 20px 21% !important; width: auto !important;  }
      .well {
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: whiteSmoke;
border: 1px solid #E3E3E3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 160px;
padding: 5px 0;
margin: 2px 0 0;
list-style: none;
background-color: white;
border: 1px solid #CCC;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
}
.canvas-container{ margin:55px 0px 8px 28% !important; width: auto !important;  }
</style>
 <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<%#= javascript_include_tag "2012/bootstrap-colorpicker.js"%>

<div class="innercontainer">
	<div class="tshirtdesign">
<div id="resizeimage">
  <div id="canvas" class="item " style="background-image:url('/../../images/izishirt2012/tshirt/white.png'); background-repeat: no-repeat;    background-position: center center; position: relative;">
	 <div id="load" style="left: 41%; position: absolute; top: 45%;"></div>
	   <input type="hidden" name="model_id" id="mid" value="<%=@models[0]['id']%>">
	   <input type="hidden" name="sprice" id="sprice" value="<%=@jstr['model']['price']%>">
	  <canvas height="259px" width="160px" style="border:1px solid #000000;" id="myCanvas"> </canvas>
	    	<!--span><label>Tshirt Color</label>
	  	  <select id="d_color" name="d_color" onchange="bchngimg();">
			<option  value="red">Red</option>
			<option value="blue">Blue</option>
			<option value="orange">Orange</option>
			<option value="white" selected="selected">White</option>
			<option value="green">Green</option>
			<option value="pink">Pink</option>
			<option value="yellow">Yellow</option>
		  </select-->
	</span>
  <input type="button" name="delete" id="delete" value="Delete"/><input type="button" name="clear" id="clear" value="Clear All"/>
  <div style="float: right; text-align: right; width: 100px;" id="pre_img">
	  <%@jstr['model']["model_specifications"].each do |mspec|%>
			<%if @jstr['model']['default_color_id'] == mspec["color"]['id'] %>
				  <img class="img_preview_front" src="<%=mspec["thumb_front"]%>" id="<%=mspec["color"]["id"]%>">
				  <img class="img_preview_back" src="<%=mspec["thumb_back"]%>" id="<%=mspec["color"]["id"]%>"> 
			<%end%>
	  <%end%>
  </div>
  </div>
  <!--img src="/../../images/izishirt2012/imgresize.png" width="377" height="375" alt=""-->
</div>

<div id="tabmenuright">
 <div class="tab-box"> 
    <a href="javascript:;" class="tabLink activeLink" id="cont-1">PRODUCTS</a> 
    <a href="javascript:;" class="tabLink" id="cont-2">IMAGES</a> 
    <a href="javascript:;" class="tabLink" id="cont-3">TEXT</a> 
  </div>
  
  <div class="tabcontent paddingAll" id="cont-1-1"> 
   <div class="scrollbg" id ="product-img">
	  <div  id ="product-img">
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
			<%@models.each_slice(6) do |@amodels|%>
			<tr>
			<% for mymodel in @amodels %>
				  <td><li class="imageOverlayer2"><%= image_tag '/izishirtfiles/models/' + mymodel.id.to_s + '/preview.jpg', :size => '45x45' ,:id=>mymodel.id,:class=>"aka"%></li></td>
			<% end %>
			</tr>
			<%end%>
	<!--tr>


		<td><img src="/../../images/izishirt2012/tshirt_1.png" width="79" height="83"></td>
		<td><img src="/../../images/izishirt2012/tshirt_2.png" width="83" height="83" alt=""></td>
		<td><img src="/../../images/izishirt2012/tshirt_3.png" width="74" height="83" alt=""></td>
		<td><img src="/../../images/izishirt2012/tshirt_4.png" width="82" height="83" alt=""></td>
		<td><img src="/../../images/izishirt2012/tshirt_2.png" width="83" height="83"></td>
		<td><img src="/../../images/izishirt2012/tshirt_1.png" width="79" height="83" alt=""></td>
	</tr>
	
		<tr>
			<td><img src="/../../images/izishirt2012/tshirt_1.png" width="79" height="83"></td>
			<td><img src="/../../images/izishirt2012/tshirt_2.png" width="83" height="83" alt=""></td>
			<td><img src="/../../images/izishirt2012/tshirt_3.png" width="74" height="83" alt=""></td>
			<td><img src="/../../images/izishirt2012/tshirt_4.png" width="82" height="83" alt=""></td>
			<td><img src="/../../images/izishirt2012/tshirt_2.png" width="83" height="83"></td>
			<td><img src="/../../images/izishirt2012/tshirt_1.png" width="79" height="83" alt=""></td>
		</tr>
		
		<tr>
			<td><img src="/../../images/izishirt2012/tshirt_1.png" width="79" height="83"></td>
			<td><img src="/../../images/izishirt2012/tshirt_2.png" width="83" height="83" alt=""></td>
			<td><img src="/../../images/izishirt2012/tshirt_3.png" width="74" height="83" alt=""></td>
			<td><img src="/../../images/izishirt2012/tshirt_4.png" width="82" height="83" alt=""></td>
			<td><img src="/../../images/izishirt2012/tshirt_2.png" width="83" height="83"></td>
			<td><img src="/../../images/izishirt2012/tshirt_1.png" width="79" height="83" alt=""></td>
		</tr-->
	
	  </table>
	  </div>
</div>

  </div>
  
  <div class="tabcontent paddingAll hide" id="cont-2-1">
	<div class="scrollbg">
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
	  <%@designs.each_slice(6) do |@adesigns|%>
			<tr>
				  <% for design in @adesigns %>
	  				  <td><li class="imageOverlayer2"><%= image_tag "#{design['thumbnail']}" ,:id=>"#{design['id']}",:class=>"myimg"%></li></td>
				  <% end %>
			</tr>
	  <%end%>

		<!--tr>
			<td><img src="/../../images/izishirt2012/img/apple.png" width="79" height="83" class="myimg"></td>
			<td><img src="/../../images/izishirt2012/img/pogo.png" width="83" height="83" alt="" class="myimg"></td>
			<td><img src="/../../images/izishirt2012/img/smile.png" width="74" height="83" alt="" class="myimg"></td>
			<td><img src="/../../images/izishirt2012/img/doll.png" width="79" height="83" class="myimg"></td>
			<td><img src="/../../images/izishirt2012/img/emoji.png" width="83" height="83" alt="" class="myimg"></td>
			<td><img src="/../../images/izishirt2012/img/toons.png" width="74" height="83" alt="" class="myimg"></td>			
		</tr-->
	  </table>
	</div>
    
  </div> 
  
<div class="tabcontent paddingAll hide" id="cont-3-1"> 
  <div class="texttab">
	<h3>Write and edit your text</h3>
	<h3>Text : </h3>
	<div class="formpadding"><label>Line1 : </label><input name="" type="text" class="inputtextbg" id="line1"></div>
	<div class="formpadding">    <label>Line2 : </label><input name="" type="text" class="inputtextbg" id="line2"></div>
	<!--div class="formpadding">    <label>Line3 : </label><input name="" type="text" class="inputtextbg" id="line3"></div>
	<!--div class="formpadding" style="padding-left:190px;"><button class="searchbtn"> Select all text </button></div-->
	<div class="formpadding">  </div>
	<div class="fl_left"><h3>fonts</h3>
	  <div class="formpadding">
		<select name="font" class="selectbg" style="height:24px; line-height:20px;" id="font" >
		  <option value="arial" style="font-family: arial">Arial</option>
		  <option value="Times New Roman" style="font-family: Times New Roman">Times New Roman</option>
		  <option value="Courier New" style="font-family: Courier New">Courier New</option>
		  <option value="monospace" style="font-family: monospace">Monospace</option>
		  <option value="fantasy" style="font-family: fantasy">Fantasy</option>
		  <option value="Georgia" style="font-family: Georgia">Georgia</option>
		  <option value="Serif" style="font-family: Serif">Serif</option>
		  <option value="cursive" style="font-family: cursive">cursive</option>
		</select>
	</div>
  </div>

  <div class="fl_left" style="padding-left:15px;"><h3>Font Color</h3>
	<div class="formpadding11"> <input type="text" value="#8fff00" id="font_color"  /> </div>
  </div>
    
  <div class="clear"></div>
  <div class="formpadding">
	<div class="fl_left">
	  <h3>Font Size</h3>
	  <select name="fontsize" class="selectbg" style="height:20px; width:85px; line-height:16px;" id="fontsize" onchange="change_fontSize(this.value);">
		 <option value="10" style="font-size: 10px">10px</option>
		 <option value="12" style="font-size: 12px">12px</option>
		 <option value="14" style="font-size: 14px">14px</option>
		 <option value="16" style="font-size: 16px">16px</option>
		 <option value="18" style="font-size: 18px">18px</option>
		 <option value="20" style="font-size: 20px">20px</option>
		 <option value="21" style="font-size: 21px">21px</option>
		 <option value="22" style="font-size: 22px">22px</option>
		 <option value="23" style="font-size: 23px">23px</option>
		 <option value="24" style="font-size: 24px">24px</option>
		 <option value="25" style="font-size: 25px">25px</option>
		 <option value="26" style="font-size: 26px">26px</option>
	  </select>
	</div>
	<div class="fl_left" style="padding:0px 29px;">
	  <h3>Align</h3>
	  <input type="hidden" name="textalign" id="textalign" value="bold" />
	  <div class="fl_left"><a href="javascript: void(0)" class="active" onclick="text_style('left');"><img src="/../../images/izishirt2012/align_left.png" width="14" height="13" alt=""></a></div>
	  <div class="fl_left" style="margin:0px 10px;"><a href="javascript: void(0)" class="active" onclick="text_style('center');"><img src="/../../images/izishirt2012/align_centere.png" width="14" height="13" alt=""></a></div>
	  <div class="fl_left"><a href="javascript: void(0)" class="active" onclick="text_style('right');"><img src="/../../images/izishirt2012/align_righ.png" width="14" height="13" alt=""></a></div>
	</div>
	<div class="fl_left">
	  <h3>Size</h3>
	  <input type="hidden" name="tsize" id="tsize" />
	  <div class="fl_left"><a href="javascript: void(0)" class="active" onclick="text_astyle('bold');"><img src="/../../images/izishirt2012/bold.png" width="12" height="12" alt=""></a></div>
	  <div class="fl_left" style="margin:0px 10px;"><a href="javascript: void(0)" class="active" onclick="text_astyle('italic');"><img src="/../../images/izishirt2012/ittalic.png" width="12" height="12" alt=""></a></div>
	  <div class="fl_left"><a href="javascript: void(0)" class="active" onclick="text_astyle('underline');"><img src="/../../images/izishirt2012/underline.png" alt=""></a></div><br />
	  <button id="addtext" name="addtext" class="searchbtn">Add Text</button>
	</div>
  </div>
</div>
   
</div> 
 
  
  <div class="searchbg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="realative" width="33%"><input name="" type="text" class="tabmenusearch" placeholder="Search for designs">
			<div class="absulete"><a href="#"><img src="/../../images/izishirt2012/searchimg.png" width="27" height="28" alt=""></a></div></td>
		<td width="33%" style="padding-left:28px;">
			<select name="" class="selectbg" style="height:28px; line-height:24px;" id ="product" >
				  <option value="">All Products</option>
				  <%@allcategories.each do |alcategory|%>
				  
				 <%if alcategory['is_parent_category'] == 'true' and alcategory['sub_categories'].length == 0%>
				  <option value="<%=alcategory['id']%>"><%=alcategory['name']%></option>
				  <%end%>
				  <!--option>All Products</option-->
				  <%end%>
			</select>
		</td>
		<td width="33%" align="right"><a href="#"><img src="/../../images/izishirt2012/btn_upload.png" width="129" height="47" alt=""></a></td>
	</tr>
</table>
</div>


  
  
  
</div>

</div>


<div class="innercontainermiddile">

<div class="innerleftpart"><img src="/../../images/izishirt2012/img13.png" width="473" height="23" alt=""><br>
<br>
<table width="91%" border="0" cellspacing="0" cellpadding="0">
	  <tr>
			<td>
				  <div id="gallery" class="ad-gallery">
						<div class="ad-nav">
							<div class="ad-thumbs">
							  <ul class="ad-thumb-list" style="width: 124px;">
									<%@jstr['model']['model_specifications'].each do |sp_mpdel|%>
										  <li >
											<a href="#" onclick='img_prev("<%=sp_mpdel['color']['id']%>")'; class="pcolor">
											  <img class="imgbox"  src="<%=sp_mpdel['color']['image']%>" id="<%=sp_mpdel['color']['id']%>">
											</a>
										  </li>
									<%end%>
									<!--li>
										<a href="#" ><img src="http://www.izishirt.ca/izishirtfiles/colors/107.jpg" /></a>  
									</li>
									<li>
										  <a href="#" ><img src="http://www.izishirt.ca/izishirtfiles/colors/107.jpg" /></a>  
									</li>
									<li>
										 <a href="#" ><img src="http://www.izishirt.ca/izishirtfiles/colors/107.jpg" /></a>  
									</li>
									<li>
										  <a href="#" ><img src="http://www.izishirt.ca/izishirtfiles/colors/107.jpg" /></a>  
									</li>
									<li>
										  <a href="#" ><img src="http://www.izishirt.ca/izishirtfiles/colors/107.jpg" /></a>  
									</li>
									<li>
										  <a href="#" ><img src="http://www.izishirt.ca/izishirtfiles/colors/107.jpg" /></a>  
									</li>
									<li>
										  <a href="#" ><img src="http://www.izishirt.ca/izishirtfiles/colors/107.jpg" /></a>  
									</li>
									<li>
										  <a href="#" ><img src="http://www.izishirt.ca/izishirtfiles/colors/107.jpg" /></a>  
									</li>
									<li>
										<a href="#" ><img src="http://www.izishirt.ca/izishirtfiles/colors/107.jpg" /></a>  
									</li>
									<li>
										  <a href="#" ><img src="http://www.izishirt.ca/izishirtfiles/colors/107.jpg" /></a>  
									</li>
									<li>
										 <a href="#" ><img src="http://www.izishirt.ca/izishirtfiles/colors/107.jpg" /></a>  
									</li>
									<li>
										  <a href="#" ><img src="http://www.izishirt.ca/izishirtfiles/colors/107.jpg" /></a>  
									</li>
									<li>
										  <a href="#" ><img src="http://www.izishirt.ca/izishirtfiles/colors/107.jpg" /></a>  
									</li>
									<li>
										  <a href="#" ><img src="http://www.izishirt.ca/izishirtfiles/colors/107.jpg" /></a>  
									</li>
									<li>
										  <a href="#" ><img src="http://www.izishirt.ca/izishirtfiles/colors/107.jpg" /></a>  
									</li>
									<li>
										  <a href="#" ><img src="http://www.izishirt.ca/izishirtfiles/colors/107.jpg" /></a>  
									</li-->

							  </ul>
							</div>
						</div>
				  </div>
			<!--img src="/../../images/izishirt2012/color.png" width="535" height="60" alt=""-->
			</td>
			<td class="doller"><strong>$<span id="price"><%=@jstr['model']['price']%></span></strong></td>
	  </tr>
	<tr>
		<td>
		<div class="tshirtsize">
		<strong>Size :&nbsp;</strong>
		<div class="sizebox">
		<div id="size">
			<select name="pssize"  style="width: 80px;" id ="psize" >
				  <%@jstr['model']['model_specifications'][0]['sizes'].each do |prdct_size|%>
						<option value="<%=prdct_size['extra_cost']%>"><%=prdct_size['name']%></option>
				  <%end%>
			</select>
		</div>
		</div>
		<!--div class="sizebox"><input name="" type="text" class="sizediv">S</div>
		<div class="sizebox"><input name="" type="text" class="sizediv">M</div>
		<div class="sizebox"><input name="" type="text" class="sizediv">L</div>
		<div class="sizebox"><input name="" type="text" class="sizediv">XL</div>
		<div class="sizebox"><input name="" type="text" class="sizediv">XXL</div-->
		<strong>Quantity :&nbsp;</strong>
			<div class="header_box">
				  <input name="quantity" type="text" class="input" value="1" id ="quantity"/>
			</div>
			<div class="image_input">
			<div class="image"><a href="JavaScript:void(0);"><img src="/../../images/izishirt2012/batten.jpg" border="none" id="upimg"/></a></div>
			<div class="image_1"><a href="JavaScript:void(0);"><img src="/../../images/izishirt2012/batten_1.jpg" border="none" id="downimg"/></a></div>
			</div>
		<!--div class="sizebox"><input name="" type="text" class="sizediv"></div-->
		</div>
		
		
		
		</td>
		<td><a href="#"><img src="/../../images/izishirt2012/addtocart.png" width="94" height="35" alt=""></a></td>
	</tr>
</table>

<div id="stepbg">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="22%"><a href="#" class="imageOverlayer2"><img src="/../../images/izishirt2012/step1.png" width="172" height="87" alt="" class="imageHover2"></a></td>
		<td align="center"><img src="/../../images/izishirt2012/arrow.png" width="53" height="55" alt=""></td>
		<td width="20%"><a href="#" class="imageOverlayer2"><img src="/../../images/izishirt2012/step2.png" width="176" height="87" alt="" class="imageHover2"></a></td>
		<td align="center"><img src="/../../images/izishirt2012/arrow.png" width="53" height="55" alt=""></td>
		<td width="22%"><a href="#" class="imageOverlayer2"><img src="/../../images/izishirt2012/step3.png" width="178" height="87" alt="" class="imageHover2"></a></td>
	</tr>
</table>


</div>
<br>

<h4>POPULAR T-SHIRT DESIGNS</h4>
<ul id="imglist">
<li class="imageOverlayer2"><img src="/../../images/izishirt2012/design1.png" width="133" height="133" alt="" class="imageHover2"></li>
<li class="imageOverlayer2"><img src="/../../images/izishirt2012/design1.png" width="133" height="133" alt="" class="imageHover2"></li>
<li class="imageOverlayer2"><img src="/../../images/izishirt2012/design1.png" width="133" height="133" alt="" class="imageHover2"></li>
<li class="imageOverlayer2"><img src="/../../images/izishirt2012/design1.png" width="133" height="133" alt="" class="imageHover2"></li>
<li class="imageOverlayer2"><img src="/../../images/izishirt2012/design1.png" width="133" height="133" alt="" class="imageHover2"></li>
<li class="imageOverlayer2"><img src="/../../images/izishirt2012/design1.png" width="133" height="133" alt="" class="imageHover2"></li>
<li class="imageOverlayer2"><img src="/../../images/izishirt2012/design1.png" width="133" height="133" alt="" class="imageHover2"></li>
<li class="imageOverlayer2"><img src="/../../images/izishirt2012/design1.png" width="133" height="133" alt="" class="imageHover2"></li>
<li class="imageOverlayer2"><img src="/../../images/izishirt2012/design1.png" width="133" height="133" alt="" class="imageHover2"></li>
<li class="imageOverlayer2"><img src="/../../images/izishirt2012/design1.png" width="133" height="133" alt="" class="imageHover2"></li>
<li class="imageOverlayer2"><img src="/../../images/izishirt2012/design1.png" width="133" height="133" alt="" class="imageHover2"></li>
<li class="imageOverlayer2"><img src="/../../images/izishirt2012/design1.png" width="133" height="133" alt="" class="imageHover2"></li>
<li class="imageOverlayer2"><img src="/../../images/izishirt2012/design1.png" width="133" height="133" alt="" class="imageHover2"></li>
<li class="imageOverlayer2"><img src="/../../images/izishirt2012/design1.png" width="133" height="133" alt="" class="imageHover2"></li>
<li class="imageOverlayer2"><img src="/../../images/izishirt2012/design1.png" width="133" height="133" alt="" class="imageHover2"></li>
<li class="imageOverlayer2"><img src="/../../images/izishirt2012/design1.png" width="133" height="133" alt="" class="imageHover2"></li>


        
<div class="clear"></div>
</ul>
</div>
<div class="innerrightpart">
<div class="bestpricebox">
<h2>The Best Prices in Canada</h2>
<h3><img src="/../../images/izishirt2012/phone.png" width="12" height="20" alt=""> &nbsp; 1 877 286 2440</h3>
</div>
<h4 style="text-align:center; padding:5px;">QUANTITY DISCOUNT</h4>
<table width="45%" align="center" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="35%"><ul class="discount">
			<li>15%</li>
			<li>20%</li>
			<li>25%</li>
			<li>30%</li>
			<li>35%</li>
			<li>45%</li>
			<li>60%</li>
			<li>65%</li>
			<li>75%</li>
			<li>80%</li>
			
			</ul></td>
		<td width="5%" valign="top" class="linebg"><img src="/../../images/izishirt2012/line.png" width="34" height="28" alt=""></td>
		<td width="40%" align="center"><ul class="discount">
			<li>15%</li>
			<li>20%</li>
			<li>25%</li>
			<li>30%</li>
			<li>35%</li>
			<li>45%</li>
			<li>60%</li>
			<li>65%</li>
			<li>75%</li>
			<li>80%</li>
			
			</ul></td>
	</tr>
</table><br>

<div class="redtext">The discount will apply on<br>
 the
 final quatity on your cart</div><br>

 
 <div id="rightbg"><h4>NEED ASSISTANCE?</h4>
 <div class="emaitxt">By Email  &nbsp;: <a href="#">&nbsp;xyz@ss.com</a><br>

By Phone : 18 77 286 2440</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="50%" valign="top" class="text1"><a href="#">Sports Teams</a>
<a href="#">Volunteer T-shirts</a>
<a href="#">University T-shirts</a>
<a href="#">Group/Club Tees</a>
<a href="#">Band/Music Tees</a>
<a href="#">Restaurant Uniforms</a></td>
		<td width="50%" valign="top" class="text1"><a href="#">Special Events</a>
<a href="#">Corporate T-shirts</a>
<a href="#">Staff T-shirts</a>
<a href="#">Blank T-shirts</a>
<a href="#">Wholesale apparel</a>
<a href="#">Birthdays</a></td>
	</tr>
</table>


 </div>
  <h6>T-Shirts Categories</h6>
  <div style="padding-bottom:10px;"><input name="" type="text" class="searchinputbox"><button class="searchbtn">SEARCH</button>
  </div>
  <ul class="categories">
  <li><a href="#">New Submissions</a></li>
    <li><a href="#">Funny t-shirts</a></li>
      <li><a href="#">Sports t-shirts</a></li>
	   <li><a href="#">Love t-shirts</a></li>
	     <li><a href="#">Black t-shirts</a></li>
		  <li><a href="#">Holidays &amp; events t-shirts</a></li>
		  <li><a href="#">Music t-shirts</a></li>
		  <li><a href="#">Celebrity t-shirts</a></li>
  </ul>
</div>

</div>



<div class="clear"></div>
</div>

<script>
  var canvas = new fabric.Canvas('myCanvas');
  canvas.renderOnAddition = true;
  var getRandomInt = fabric.util.getRandomInt;
  $j(document).ready(function(e) {

   $j('.myimg').on('click', function(e) {
	
	var src = $j(this).attr("src");
      fabric.Image.fromURL(src, function(img) {
        var imgX = img.set({
          top: 100,
          left: 100,
        });

        canvas.add(imgX);
      });

     canvas.renderAll();
      canvas.calcOffset();
   });
   $j('#delete').on('click', function(e) {
	var activeObject = canvas.getActiveObject();
	canvas.remove(activeObject);
   });
    $j('#addtext').on('click', function(e) {
	 // alert('kkk');
	 var text ="";
	  if ($j("#line1").val() != ""){
		 line1 = $j("#line1").val();
	  }
	 if ($j("#line2").val() != ""){
		 line2 = $j("#line2").val();
	  }
	//  if ($j("#line3").val() != ""){
	//	 line3 = $j("#line3").val();
	 // }
	  var text = line1 +' \n'+line2+'\n';
	  //var text = 'Lorem ipsum dolor sit amet,\nconsectetur adipisicing elit\n';
	//alert(text);
   // var text = "aka\nkkk";//$j("#line1").val();
   var fsize = $j("#fontsize").val();
  //   alert(fsize);
 
   var font = $j("#font").val();
  //alert (fontsize+'==='+font);
  // var textalign = $j("#textalign").val();
   
    var color = $j("#font_color").val();
     var text   = new fabric.Text(text, {
        top        : 100,
        left       : 100,
        fontSize   : fsize,
        fontFamily : font,
        fill : color,
		textAlign: 'right'
		
      });

      canvas.add(text);

      canvas.renderAll();
      canvas.calcOffset();
	});

   
  $j('#clear').on('click', function(e) {
	canvas.clear();
  });
window.prettyPrint && prettyPrint()
	$j('#font_color').colorpicker();
   
  });
  
  function bchngimg(){
  var color   =	$j('#d_color').val();
      if( color.length > 0 ){
	//	alert(color);
	    $j("#canvas").removeClass('default');
	    $j("#canvas").addClass(color);
    }
}

function text_style(txt){
  $("#textalign").val(txt);
  var activeObject = canvas.getActiveObject();
  if (activeObject && activeObject.type === 'text') {
	 activeObject.textAlign = txt;
     canvas.renderAll();
  }
  
}

function text_astyle(txt){
  $("#tsize").val(txt);
  var activeObject = canvas.getActiveObject();
  if (activeObject && activeObject.type === 'text') {
	if (txt == 'underline'){
	  activeObject.textDecoration = 'underline';
	}else{
	  activeObject.fontWeight = txt;
	}
	 
     canvas.renderAll();
  }
  
}

function change_fontSize(txt){
  var activeObject = canvas.getActiveObject();
  if (activeObject && activeObject.type === 'text') {
	 activeObject.fontSize = txt;
     canvas.renderAll();
  }
  
}
$j(document).ready(function(e) {
	  $('#canvas').css({ 'background-image' : 'url("<%=@jstr["model"]["image"]%>")' });
	  $j("#product").change(function(){
			$("#product-img").html('<div id="product-img"><img src="/../../images/izishirt2012/loading.gif"></div>');
			//alert('in');
			 //$j("#product-img").html(data);
		$j.get("display/product_image?id="+$("#product").val(), 
			  function(data){ $("#product-img").html(data); } );
	  });
	  
	//  $j(".aka").click(function(){
		//	id = $(this).attr('id');
			//alert($(this).attr('id'));
			//ima = 'http://www.izishirt.ca/izishirtfiles/models/180/20-front.jpg';
			// $("#canvas").css("background-image", "url("+ima+")")  
			//$("#product-img").html('<div id="product-img"><img src="/../../images/izishirt2012/loading.gif"></div>');
			//alert('in');
			// $j("#product-img").html(data);
	/*	$j.get("display/image_details?id="+$(this).attr('id'), 
			 function(data){
						var response = '"'+ data+'"';//{"model":{"image":"http://www.izishirt.ca/izishirtfiles/models/180/20-front.jpg","thumbnail":"http://www.izishirt.ca/izishirtfiles/models/180/preview.jpg","model_category":"custom","minimum_sale_price":"0","id":180,"desc":"9.4oz 50% Cotton / 50% polyester preshrunk jersey knit dry blend moisture wicking fabric. Three woodtone buttons on a clean fi nished placket. Contoured welt collar and cuffs. Double stitched seams. Quarter turned body. \n","show_sizes":"true","model_zones":[{"top_left_y":80,"top_left_x":100,"id":602,"model_id":180,"zone_type":1,"max_lines":5,"bottom_right_y":270,"bottom_right_x":240,"max_images":2},{"top_left_y":80,"top_left_x":100,"id":603,"model_id":180,"zone_type":2,"max_lines":5,"bottom_right_y":270,"bottom_right_x":240,"max_images":2}],"default_zone":"1","pricefr":9.99,"price":9.99,"info":null,"default_color_id":20,"bulk_discount":"10_5|20_10|30_15|40_20|50_25","warning_text":null,"model_name":"Gildan 8800 - Jersey Polo","category_id":27,"model_specifications":[{"img_left":"http://www.izishirt.ca/izishirtfiles/models/180/","supplier_generation_picture_url":null,"thumb_back":"http://www.izishirt.ca/izishirtfiles/models/180/20-back-preview.jpg","id":4416,"thumb_left":"http://www.izishirt.ca/izishirtfiles/models/180/20-left-preview.jpg","img_right":"http://www.izishirt.ca/izishirtfiles/models/180/","sizes":[{"extra_cost":0.0,"id":1414,"type":"ModelSize","name":"S","model_id":180},{"extra_cost":0.0,"id":1415,"type":"ModelSize","name":"M","model_id":180},{"extra_cost":0.0,"id":1416,"type":"ModelSize","name":"L","model_id":180},{"extra_cost":0.0,"id":1417,"type":"ModelSize","name":"XL","model_id":180},{"extra_cost":0.0,"id":2585,"type":"ModelSize","name":"S","model_id":180},{"extra_cost":0.0,"id":17759,"type":"ModelSize","name":"XS","model_id":180},{"extra_cost":0.0,"id":17760,"type":"ModelSize","name":"S","model_id":180},{"extra_cost":0.0,"id":17761,"type":"ModelSize","name":"M","model_id":180},{"extra_cost":0.0,"id":17762,"type":"ModelSize","name":"XXXL","model_id":180},{"extra_cost":0.0,"id":17763,"type":"ModelSize","name":"XL","model_id":180},{"extra_cost":5.0,"id":17764,"type":"ModelSize","name":"XXL","model_id":180},{"extra_cost":0.0,"id":17765,"type":"ModelSize","name":null,"model_id":180},{"extra_cost":0.0,"id":17766,"type":"ModelSize","name":"One Size","model_id":180},{"extra_cost":0.0,"id":17767,"type":"ModelSize","name":"2T","model_id":180},{"extra_cost":0.0,"id":17768,"type":"ModelSize","name":"L/XL","model_id":180},{"extra_cost":0.0,"id":17769,"type":"ModelSize","name":"S/M","model_id":180}],"model_id":180,"img_back":"http://www.izishirt.ca/izishirtfiles/models/180/20-back.jpg","img_front":"http://www.izishirt.ca/izishirtfiles/models/180/20-front.jpg","color":{"image":"http://www.izishirt.ca/izishirtfiles/colors/20.jpg","id":20,"name":"Black"},"thumb_right":"http://www.izishirt.ca/izishirtfiles/models/180/20-right-preview.jpg","color_id":20,"mask_generation_picture_url":null,"mask_picture_url":null,"thumb_front":"http://www.izishirt.ca/izishirtfiles/models/180/20-front-preview.jpg","model_prices":[{"id":23342,"identifier":"one_design_price","price":4.0},{"id":23343,"identifier":"two_design_price","price":4.0},{"id":23344,"identifier":"text_price","price":4.0},{"id":23345,"identifier":"one_design_text_price","price":4.0},{"id":23346,"identifier":"two_design_text_price","price":4.0},{"id":23347,"identifier":"design_stretch_price","price":0.0},{"id":23348,"identifier":"text_stretch_price","price":0.0}]},{"img_left":"http://www.izishirt.ca/izishirtfiles/models/180/","supplier_generation_picture_url":null,"thumb_back":"http://www.izishirt.ca/izishirtfiles/models/180/23-back-preview.jpg","id":4417,"thumb_left":"http://www.izishirt.ca/izishirtfiles/models/180/23-left-preview.jpg","img_right":"http://www.izishirt.ca/izishirtfiles/models/180/","sizes":[{"extra_cost":0.0,"id":1414,"type":"ModelSize","name":"S","model_id":180},{"extra_cost":0.0,"id":1415,"type":"ModelSize","name":"M","model_id":180},{"extra_cost":0.0,"id":1416,"type":"ModelSize","name":"L","model_id":180},{"extra_cost":0.0,"id":1417,"type":"ModelSize","name":"XL","model_id":180},{"extra_cost":0.0,"id":2585,"type":"ModelSize","name":"S","model_id":180},{"extra_cost":0.0,"id":17759,"type":"ModelSize","name":"XS","model_id":180},{"extra_cost":0.0,"id":17760,"type":"ModelSize","name":"S","model_id":180},{"extra_cost":0.0,"id":17761,"type":"ModelSize","name":"M","model_id":180},{"extra_cost":0.0,"id":17762,"type":"ModelSize","name":"XXXL","model_id":180},{"extra_cost":0.0,"id":17763,"type":"ModelSize","name":"XL","model_id":180},{"extra_cost":5.0,"id":17764,"type":"ModelSize","name":"XXL","model_id":180},{"extra_cost":0.0,"id":17765,"type":"ModelSize","name":null,"model_id":180},{"extra_cost":0.0,"id":17766,"type":"ModelSize","name":"One Size","model_id":180},{"extra_cost":0.0,"id":17767,"type":"ModelSize","name":"2T","model_id":180},{"extra_cost":0.0,"id":17768,"type":"ModelSize","name":"L/XL","model_id":180},{"extra_cost":0.0,"id":17769,"type":"ModelSize","name":"S/M","model_id":180}],"model_id":180,"img_back":"http://www.izishirt.ca/izishirtfiles/models/180/23-back.jpg","img_front":"http://www.izishirt.ca/izishirtfiles/models/180/23-front.jpg","color":{"image":"http://www.izishirt.ca/izishirtfiles/colors/23.jpg","id":23,"name":"White"},"thumb_right":"http://www.izishirt.ca/izishirtfiles/models/180/23-right-preview.jpg","color_id":23,"mask_generation_picture_url":null,"mask_picture_url":null,"thumb_front":"http://www.izishirt.ca/izishirtfiles/models/180/23-front-preview.jpg","model_prices":[{"id":23349,"identifier":"one_design_price","price":4.0},{"id":23350,"identifier":"two_design_price","price":4.0},{"id":23351,"identifier":"text_price","price":4.0},{"id":23352,"identifier":"one_design_text_price","price":4.0},{"id":23353,"identifier":"two_design_text_price","price":4.0},{"id":23354,"identifier":"design_stretch_price","price":0.0},{"id":23355,"identifier":"text_stretch_price","price":0.0}]},{"img_left":"http://www.izishirt.ca/izishirtfiles/models/180/","supplier_generation_picture_url":null,"thumb_back":"http://www.izishirt.ca/izishirtfiles/models/180/106-back-preview.jpg","id":4418,"thumb_left":"http://www.izishirt.ca/izishirtfiles/models/180/106-left-preview.jpg","img_right":"http://www.izishirt.ca/izishirtfiles/models/180/","sizes":[{"extra_cost":0.0,"id":1414,"type":"ModelSize","name":"S","model_id":180},{"extra_cost":0.0,"id":1415,"type":"ModelSize","name":"M","model_id":180},{"extra_cost":0.0,"id":1416,"type":"ModelSize","name":"L","model_id":180},{"extra_cost":0.0,"id":1417,"type":"ModelSize","name":"XL","model_id":180},{"extra_cost":0.0,"id":2585,"type":"ModelSize","name":"S","model_id":180},{"extra_cost":0.0,"id":17759,"type":"ModelSize","name":"XS","model_id":180},{"extra_cost":0.0,"id":17760,"type":"ModelSize","name":"S","model_id":180},{"extra_cost":0.0,"id":17761,"type":"ModelSize","name":"M","model_id":180},{"extra_cost":0.0,"id":17762,"type":"ModelSize","name":"XXXL","model_id":180},{"extra_cost":0.0,"id":17763,"type":"ModelSize","name":"XL","model_id":180},{"extra_cost":5.0,"id":17764,"type":"ModelSize","name":"XXL","model_id":180},{"extra_cost":0.0,"id":17765,"type":"ModelSize","name":null,"model_id":180},{"extra_cost":0.0,"id":17766,"type":"ModelSize","name":"One Size","model_id":180},{"extra_cost":0.0,"id":17767,"type":"ModelSize","name":"2T","model_id":180},{"extra_cost":0.0,"id":17768,"type":"ModelSize","name":"L/XL","model_id":180},{"extra_cost":0.0,"id":17769,"type":"ModelSize","name":"S/M","model_id":180}],"model_id":180,"img_back":"http://www.izishirt.ca/izishirtfiles/models/180/106-back.jpg","img_front":"http://www.izishirt.ca/izishirtfiles/models/180/106-front.jpg","color":{"image":"http://www.izishirt.ca/izishirtfiles/colors/106.jpg","id":106,"name":"Sport Grey"},"thumb_right":"http://www.izishirt.ca/izishirtfiles/models/180/106-right-preview.jpg","color_id":106,"mask_generation_picture_url":null,"mask_picture_url":null,"thumb_front":"http://www.izishirt.ca/izishirtfiles/models/180/106-front-preview.jpg","model_prices":[{"id":23356,"identifier":"one_design_price","price":4.0},{"id":23357,"identifier":"two_design_price","price":4.0},{"id":23358,"identifier":"text_price","price":4.0},{"id":23359,"identifier":"one_design_text_price","price":4.0},{"id":23360,"identifier":"two_design_text_price","price":4.0},{"id":23361,"identifier":"design_stretch_price","price":0.0},{"id":23362,"identifier":"text_stretch_price","price":0.0}]}],"designs_per_zone":"2"}};
						alert(response.model.image);
				  } );
	  });*/
	
	$('.aka').click(function () {
	  $.getScript("javascripts/2012/jquery.dd.min.js")
	  	$j("select").msDropdown();
   var id = $(this).attr('id');
   $("#mid").val(id);
   $('#canvas').css({ 'background-image' : 'url()' });
   $("#load").html('<img src="/../../images/izishirt2012/loading.gif">');
  // var query = 'id='+
    $.ajax({
        url: 'display/image_details',
        type: "POST",
        data: {'id':$(this).attr('id')},
        dataType: 'json',
        success: function (data) {
            //alert(data.model.model_specifications[0].color.id);
		    $("#load").html('');
			$('#canvas').css({ 'background-image' : 'url('+data.model.image+')' });
			var color_img = "";
			for(i=0;i<data.model.model_specifications.length;i++)  {
				  // color_img += data.model.model_specifications[i].color.image;
				  color_img += '<li ><a href="#" onclick=img_prev("'+data.model.model_specifications[i].color.id+'"); class="pcolor"><img class="imgbox"  src="'+data.model.model_specifications[i].color.image+'" id="'+data.model.model_specifications[i].color.id+'"></a></li>';
			}
			//alert(color_img);
			//$("#product_color").html(color_img);
			$(".ad-thumb-list").html(color_img);
			
			var mid = $('#mid').val();
			var img = data.model.image;
			var nimg = data.model.image.split('/');
			var last_img = nimg[nimg.length-1];
			var another_img = last_img.split('-');
			var cid = another_img[0];//data.model.model_specifications[0].color.id;
			var img_preview_front ='http://www.izishirt.ca/izishirtfiles/models/'+mid+'/'+cid+'-front-preview.jpg';
			var img_preview_back = 'http://www.izishirt.ca/izishirtfiles/models/'+mid+'/'+cid+'-back-preview.jpg';
			var img_preview = '<img class="img_preview_front" src="'+img_preview_front+'" id="'+cid+'"><img class="img_preview_back" src="'+img_preview_back+'" id="'+cid+'">';
			$('#pre_img').html(img_preview);
			$('#price').html(data.model.price);
			$('#sprice').val(data.model.price);
			$('#quantity').val('1');	
			var opt = "";
			for(i=0;i<data.model.model_specifications[0].sizes.length;i++)  {
			  opt += '<option value="'+data.model.model_specifications[0].sizes[i].extra_cost+'">'+data.model.model_specifications[0].sizes[i].name+'</option>'
			}
			var sizeopt_box = '<select name="pssize"  style="width: 80px;" id ="psize" >'+opt+'</select>';
			$("#size").html(sizeopt_box);
			$j('.ad-gallery').adGallery();
			$("select").msDropdown();
			//$("#canvas").css({'background-image':'"url("'+data+')"});
        }
    });
});

	
	$('.pcolor').live('click',function () {
//	  alert('in');
	  var mid = $('#mid').val();
	  var id = $(this).attr('id');
	  var img = 'http://www.izishirt.ca/izishirtfiles/models/'+mid+'/'+id+'-front.jpg';
	  var img_preview_front ='http://www.izishirt.ca/izishirtfiles/models/'+mid+'/'+id+'-front-preview.jpg'
	  var img_preview_back = 'http://www.izishirt.ca/izishirtfiles/models/'+mid+'/'+id+'-back-preview.jpg'
	  //var img_front ='http://www.izishirt.ca/izishirtfiles/models/'+mid+'/'+id+'-front.jpg'
	 // var img_back = 'http://www.izishirt.ca/izishirtfiles/models/'+mid+'/'+id+'-front.jpg'
	  var img_preview = '<img class="img_preview_front" src="'+img_preview_front+'" id="'+id+'"><img class="img_preview_back" src="'+img_preview_back+'" id="'+id+'">';
	  alert(img_preview );
	  $('#canvas').css({ 'background-image' : 'url('+img+')' });
	  $('#pre_img').html(img_preview);
	});
	
	$('.img_preview_front').live('click',function () {
	  var mid = $('#mid').val();
	  var id = $(this).attr('id');
	  var img ='http://www.izishirt.ca/izishirtfiles/models/'+mid+'/'+id+'-front.jpg'
	  $('#canvas').css({ 'background-image' : 'url('+img+')' });
	});
	$('.img_preview_back').live('click',function () {
	  var mid = $('#mid').val();
	  var id = $(this).attr('id');
	  var img ='http://www.izishirt.ca/izishirtfiles/models/'+mid+'/'+id+'-back.jpg'
	  $('#canvas').css({ 'background-image' : 'url('+img+')' });
	});
	$('#upimg').live('click',function () {
	  var qval = $('#quantity').val();
	  var price = $('#sprice').val();
	  var newval = parseInt(qval)+1;
	  $('#quantity').val(newval);
	  $('#price').html(newval*price);
	});
	$('#downimg').live('click',function () {
	  var qval = $('#quantity').val();
	  var price = $('#sprice').val();
	  var newval = parseInt(qval)-1;
	  if (qval > 1) {
		$('#quantity').val(newval);	
	  $('#price').html(newval*price);
	  }
	  
	});
	$('#psize').live('change',function () {
	  var qval = $('#quantity').val();
	  var price = $('#sprice').val();
	  var recentval = $(this).val();
	  var allprice = parseFloat(price)+parseFloat(recentval);
	  $('#price').html(allprice*qval);
	});
	
	
	  $j('.ad-gallery').adGallery();
	  $j('.ad-thumb-list').style("");
});

function img_prev(id){
	  var mid = $('#mid').val();
	//  var id = $(this).attr('id');
	  var img = 'http://www.izishirt.ca/izishirtfiles/models/'+mid+'/'+id+'-front.jpg';
	  var img_preview_front ='http://www.izishirt.ca/izishirtfiles/models/'+mid+'/'+id+'-front-preview.jpg'
	  var img_preview_back = 'http://www.izishirt.ca/izishirtfiles/models/'+mid+'/'+id+'-back-preview.jpg'
	  //var img_front ='http://www.izishirt.ca/izishirtfiles/models/'+mid+'/'+id+'-front.jpg'
	 // var img_back = 'http://www.izishirt.ca/izishirtfiles/models/'+mid+'/'+id+'-front.jpg'
	  var img_preview = '<img class="img_preview_front" src="'+img_preview_front+'" id="'+id+'"><img class="img_preview_back" src="'+img_preview_back+'" id="'+id+'">';
	 // alert(img_preview );
	  $('#canvas').css({ 'background-image' : 'url('+img+')' });
	  $('#pre_img').html(img_preview);
	  
}
</script>