<div id="shipping_info">
      <h1><%=t(:shipping_info_item_10)%></h1>
      <div id="pictures_team">
            <%= image_tag "izishirt_design/images_about_and_refound/shipping_pic.jpg" %>
      </div>
      <div id="shipping_info_content">
        <p style="float: left;margin-right:5px;"><%=t(:shipping_info_item_2)%>
        </p><div><%= image_tag "izishirt2011/fedex.jpg", :width=>94 %></div><br/>
        <%=t(:shipping_info_item_11)%>
      </div>

      <div id="shipping_info_header">
         <span style="background-color: #FFF;padding-right:5px;text-transform: uppercase"><%=t(:shipping_info_title_2)%></span>
      </div>
      <div id="shipping_info_content">
        <table width="100%" cellpadding="0" cellspacing="0">
                	
                    	<td>
                        	<table width="100%" cellpadding="0" cellspacing="0"  border="0">
                            	<tr><td colspan="2" class="tbltitle"><strong>Standard</strong></td></tr>

                                <tr>

                                	<td width="50%" class="tblcell"><%=t(:shipping_info_item_17)%></td>
                                    <td width="50%" class="tblcell">
                                        <%=t(:shipping_info_item_18)%>
                                    </td>
                                </tr>
                                <tr>
                                	<td width="50%" class="tblcell"><%=t(:shipping_info_item_19)%></td>
                                    <td width="50%" class="tblcell">

                                        <%=t(:shipping_info_item_20)%>
                                    </td>
                                </tr>

                            </table>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                        	<table width="100%" cellpadding="0" cellspacing="0" border="0">
                                  <tr>

                            	  <td colspan="2" class="tbltitle"><strong>Express</strong></td></tr>
                            	

                                <tr>
                                	<td width="50%" class="tblcell"><%=t(:shipping_info_item_17)%></td>
                                    <td width="50%" class="tblcell">
                                        <%=t(:shipping_info_item_22)%>
                                    </td>
                                </tr>

                                <tr>
                                	<td width="50%" class="tblcell"><%=t(:shipping_info_item_19)%></td>
                                    <td width="50%" class="tblcell">
                                        <%=t(:shipping_info_item_24)%>
                                    </td>
                                </tr>

                            </table>
                        </td>


                </table>


      </div>
      <div id="shipping_info_header">
         <span style="background-color: #FFF;padding-right:5px;text-transform: uppercase"><%=t(:refunds_title)%></span>
      </div>
        <div id="shipping_info_content">
          <%=t(:shipping_info_item_12)%>
        </div>
        <div id="shipping_info_header">
         <span style="background-color: #FFF;padding-right:5px;text-transform: uppercase"><%=t(:refunds_cancelations)%></span>
      </div>
        <div id="shipping_info_content">
          <%=t(:shipping_info_item_13)%>
        </div>

      <div id="shipping_info_header">
         <span style="background-color: #FFF;padding-right:5px;text-transform: uppercase"><%=t(:refunds_returns)%></span>
      </div>
        <div id="shipping_info_content">
          <%=t(:shipping_info_item_14)%>
        </div>
      <div id="shipping_info_header">
         <span style="background-color: #FFF;padding-right:5px;text-transform: uppercase"><%=t(:front_office_bulk_order_33)%></span>
      </div>

        <div id="shipping_info_content">
          <%=t(:shipping_info_item_15)%>
          <a href="http://maps.google.com/maps?hl=en&sugexp=ldymls&xhr=t&q=1625+Rue+chabanel+ouest+Montreal+QC+H4N+2S7,+Canada&cp=51&qe=MTYyNSBSdWUgY2hhYmFuZWwgb3Vlc3QgTW9udHJlYWwgUUMgSDROIDJTNywgQ2FuYWRh&qesig=Is1ryQHkwV8RTjbjVGpF9A&pkc=AFgZ2tm1St-VmEliiupF8KolQhlw6beszqPYHUvddB2t8p6yaCF5aLRiJ2X0qi7tjXIFdAStDiW35UCoiovYYTyufsZilTdoVA&bav=on.2,or.r_gc.r_pw.&um=1&ie=UTF-8&sa=N&tab=wl" target="_blank" style="text-decoration:underline;color:#f57d1e;">
            <%= t(:see_map) %>
          </a><br/><br/>
          <%=t(:shipping_info_item_16)%>
          <%=t(:shipping_info_item_25)%>
        </div>
</div>

