<div id="bulk_confirmation">
    <div id="left_container">
      <%= render :partial=>"left_column" %>
    </div>

    <div id="bulk_confirmation_content">
      <div id="Bulk_quote_title" style="line-height: 12px;"><%= t(:front_office_bulk_order_14) %></div>

	<h1 style="font-size: 18px;color:#3b2053">
		<%=t(:free_bulk_quote_confirmation)%>
	</h1>
      <div id="content">
        <div id="explanation">
          <div id="thank_you">
            <%=t(:thank_you_for_your_request_confirmation)%>
          </div>
          <div id="sentence">
            <%=t(:explanation_confirmation)%>
          </div>
          <div id="contact">
            <a href="mailto:contact@izishirt.com">contact@izishirt.com</a><br/>
            <%= get_phone_number %>
          </div>
        </div>
        <div class="clear"></div>
      </div>

    </div>
    <div class="clear"></div>

</div>

<!-- Google Code for Bulk Form Conversion Page -->
<script type="text/javascript">
<!--
var google_conversion_id = 1063203235;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "TnnaCLWB3QEQo-P8-gM";
var google_conversion_value = 0;
if (0) {
  google_conversion_value = 0;
}
//-->
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1063203235/?value=0&amp;label=TnnaCLWB3QEQo-P8-gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
