
<div id="large_order">
  <p class="title"><%= t(:large_order) %> <br/><%= t(:up_25) %></p>

  <div id="larger_order_border">
    <p class="freeQuote"><%= t(:contact_us_free_quote) %></p>

    <p class="text11"><%= t(:by_phone) %> <span><strong><%= get_phone_number %></strong></span>
    </p>

    <p class="text11"><%= t(:by_email) %>
      <a href="mailto:<%= t(:contact_us_email_quotes) %>"><%= t(:contact_us_email_quotes) %></a></p>
    <div class="clear"></div>
  </div>
</div>

