<!-- Order Summary -->
<div class="cart_header addBottom">
  <%= image_tag("/images/izishirt2009/rightArrow.png") %>
  <label class="items"><%= t(:payment_order_summary) %></label>
  <div class="clearfix"></div>
</div>

<div class="horiz_space_12"></div>

<div class="summary">
  <div class="addLightBottom">
    <label class="left"><%= t(:payment_order_total) %></label> 
    <label class="right"><%= number_to_currency_custom(@payment_subtotal) %></label>
    <div class="clearfix"></div>
  </div>
  <div class="addLightBottom">
    <label class="left"><%= t(:payment_shipping_cost) %></label> 
    <label id='checkout_shipping_field' class="right">
      <%= number_to_currency_custom(@cart.shipping) %>
    </label>
    <div class="clearfix"></div>
  </div>
  <div class="addLightBottom">
    <label class="left"><%= t(:payment_taxes) %></label>
    <label id="checkout_tax_field" class="right"><%= number_to_currency_custom(@payment_taxes) %></label>
    <div class="clearfix"></div>
  </div>
  <div class="addLightBottom">
    <label class="red left"><%= t(:payment_total) %></label>
    <label id='checkout_page_total' class="right green">
      <span class='mediumGray'>(<%= session[:currency] %>)</span> <%= number_to_currency_custom(@payment_total, :precision => 2) %>
    </label>
    <div class="clearfix"></div>
  </div>
  <div class="horiz_space_30"></div>
</div>
<!-- EO Order Summary -->
