<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <!--This file was converted to xhtml by OpenOffice.org - see http://xml.openoffice.org/odf2xhtml for more info.-->
  <head profile="http://dublincore.org/documents/dcmi-terms/">
    <meta name="generator" content=
    "HTML Tidy for Windows (vers 14 February 2006), see www.w3.org" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title xml:lang="en-US" lang="en-US">
      Izishirt
    </title>
    <meta name="DCTERMS.title" content="" xml:lang="en-US" lang="en-US" />
    <meta name="DCTERMS.language" content="en-US" scheme="DCTERMS.RFC4646" />
    <meta name="DCTERMS.source" content=
    "http://xml.openoffice.org/odf2xhtml" />
    <meta name="DCTERMS.creator" content="Victor" />
    <meta name="DCTERMS.issued" content="2009-12-16T17:42:09" scheme=
    "DCTERMS.W3CDTF" />
    <meta name="DCTERMS.contributor" content="Victor" />
    <meta name="DCTERMS.modified" content="2009-12-16T18:17:37" scheme=
    "DCTERMS.W3CDTF" />
    <meta name="DCTERMS.provenance" content="" xml:lang="en-US" lang="en-US" />
    <meta name="DCTERMS.subject" content="," xml:lang="en-US" lang="en-US" />
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" hreflang=
    "en" />
    <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" hreflang=
    "en" />
    <link rel="schema.DCTYPE" href="http://purl.org/dc/dcmitype/" hreflang=
    "en" />
    <link rel="schema.DCAM" href="http://purl.org/dc/dcam/" hreflang="en" />
    <base href="." />
    <style type="text/css">
/*<![CDATA[*/
        @page { size: 21.59cm 27.94cm; margin-top: 1.27cm; margin-bottom: 1.27cm; margin-left: 1.27cm; margin-right: 1.27cm }
        table { border-collapse:collapse; border-spacing:0; empty-cells:show }
        td, th { vertical-align:top; font-size:12pt;}
        h1, h2, h3, h4, h5, h6 { clear:both }
        ol, ul { margin:0; padding:0;}
        li { list-style: none; margin:0; padding:0;}
        li span.odfLiEnd { clear: both; line-height:0; width:0; height:0; margin:0; padding:0; }
        span.footnodeNumber { padding-right:1em; }
        * { margin:0; }
        .P1 { font-size:12pt; font-family:Times New Roman; color:#ffffff; }
        .P2 { font-size:12pt; font-family:Times New Roman; color:#000000; }
        .P3 { font-size:12pt; font-family:Times New Roman; margin-left:2.551cm; margin-right:0cm; text-indent:-2.551cm; color:#ffffff; }
        .P4 { font-size:12pt; font-family:Times New Roman; margin-left:2.551cm; margin-right:0cm; text-indent:-2.551cm; color:#ffffff; }
        .P5 { font-size:12pt; font-family:Times New Roman; font-weight:bold; }
        .Standard { font-size:12pt; font-family:Times New Roman; }
        .Table_20_Contents { font-size:12pt; font-family:Times New Roman; }
        .Table_20_Heading { font-size:12pt; font-family:Times New Roman; text-align:center ! important; font-weight:bold; }
        .Table1 { width:19.05cm; float:none; }
        .Table2 { width:13.781cm; float:none; }
        .Table3 { width:19.05cm; float:none; }
        .Table4 { width:9.331cm; float:none; }
        .Table5 { width:9.331cm; float:none; }
        .Table1_A1 { padding:0.097cm; border-left-width:0.035cm; border-left-style:solid; border-left-color:#000000; border-right-style:none; border-top-width:0.035cm; border-top-style:solid; border-top-color:#000000; border-bottom-width:0.035cm; border-bottom-style:solid; border-bottom-color:#000000; }
        .Table1_A17 { padding:0.097cm; border-style:none; }
        .Table1_A2 { padding:0.097cm; border-left-width:0.035cm; border-left-style:solid; border-left-color:#000000; border-right-style:none; border-top-style:none; border-bottom-width:0.035cm; border-bottom-style:solid; border-bottom-color:#000000; }
        .Table1_E1 { padding:0.097cm; border-width:0.035cm; border-style:solid; border-color:#000000; }
        .Table1_E2 { padding:0.097cm; border-left-width:0.035cm; border-left-style:solid; border-left-color:#000000; border-right-width:0.035cm; border-right-style:solid; border-right-color:#000000; border-top-style:none; border-bottom-width:0.035cm; border-bottom-style:solid; border-bottom-color:#000000; }
        .Table2_A1 { padding:0.097cm; border-width:0.088cm; border-style:solid; border-color:#000000; }
        .Table3_A1 { padding:0.097cm; border-left-width:0.0133cm; border-left-style:solid; border-left-color:#000000; border-right-style:none; border-top-width:0.0133cm; border-top-style:solid; border-top-color:#000000; border-bottom-width:0.0133cm; border-bottom-style:solid; border-bottom-color:#000000; }
        .Table3_B1 { padding:0.097cm; border-width:0.0133cm; border-style:solid; border-color:#000000; }
        .Table4_A1 { padding:0.097cm; border-left-width:0.0133cm; border-left-style:solid; border-left-color:#000000; border-right-style:none; border-top-width:0.0133cm; border-top-style:solid; border-top-color:#000000; border-bottom-width:0.0133cm; border-bottom-style:solid; border-bottom-color:#000000; }
        .Table4_A2 { padding:0.097cm; border-left-width:0.0133cm; border-left-style:solid; border-left-color:#000000; border-right-style:none; border-top-style:none; border-bottom-width:0.0133cm; border-bottom-style:solid; border-bottom-color:#000000; }
        .Table4_B1 { padding:0.097cm; border-width:0.0133cm; border-style:solid; border-color:#000000; }
        .Table4_B2 { padding:0.097cm; border-left-width:0.0133cm; border-left-style:solid; border-left-color:#000000; border-right-width:0.0133cm; border-right-style:solid; border-right-color:#000000; border-top-style:none; border-bottom-width:0.0133cm; border-bottom-style:solid; border-bottom-color:#000000; }
        .Table4_B4 { padding:0.097cm; border-left-width:0.0133cm; border-left-style:solid; border-left-color:#000000; border-right-width:0.0133cm; border-right-style:solid; border-right-color:#000000; border-top-style:none; border-bottom-width:0.0133cm; border-bottom-style:solid; border-bottom-color:#000000; }
        .Table5_A1 { padding:0.097cm; border-width:0.0133cm; border-style:solid; border-color:#000000; }
        .Table5_A2 { padding:0.097cm; border-left-width:0.0133cm; border-left-style:solid; border-left-color:#000000; border-right-width:0.0133cm; border-right-style:solid; border-right-color:#000000; border-top-style:none; border-bottom-width:0.0133cm; border-bottom-style:solid; border-bottom-color:#000000; }
        .Table1_A { width:2.101cm; }
        .Table1_B { width:1.143cm; }
        .Table1_C { width:10.732cm; }
        .Table1_D { width:2.57cm; }
        .Table1_E { width:2.505cm; }
        .Table2_A { width:13.781cm; }
        .Table3_A { width:9.525cm; }
        .Table4_A { width:2.815cm; }
        .Table4_B { width:6.516cm; }
        .Table5_A { width:9.331cm; }
        .T1 { color:#000000; }
        .T2 { color:#000000; font-style:italic; text-decoration:underline; font-weight:bold; }
        <!-- ODF styles with no properties representable as CSS -->
        .Sect1 .Sect2 .Table3.1 { }
    /*]]>*/
    </style>
  </head>
  <body dir="ltr" style=
  "max-width:21.59cm;margin-top:1.27cm; margin-bottom:1.27cm; ">


  <div class="Sect1">
      <p class="Standard">
        <img src="<%= RAILS_ROOT %>/public/images/quote_pdf_generator/letterhead.png" style="width:19.00cm;" />
      </p>
    </div>
    <div class="Sect2">
      <table border="0" cellspacing="0" cellpadding="0" class="Table3">
        <colgroup>
          <col width="416" />
          <col width="416" />
        </colgroup>
        <tr class="Table31">
          <td style="text-align:left;width:9.525cm;" class="Table3_A1">
            <table border="0" cellspacing="0" cellpadding="0" class="Table5">
              <colgroup>
                <col width="408" />
              </colgroup>
              <tr>
                <td style="text-align:left;width:9.331cm; position: relative" class="Table5_A1">
				  <div style="position: absolute;z-index:100; width:3.331cm; padding: 0.01cm; text-align: center;">
                  <p class="P2" style="color: white">
                    <%= t(:order_invoice_title) %> #<%= @order.id %>
                  </p>
				  </div>
                  <img src="<%= RAILS_ROOT %>/public/images/quote_pdf_generator/bg_quotation.png" style="width:3.331cm; z-index: 50;" />
                </td>
              </tr>
              <tr>
                <td style="text-align:left;width:9.331cm;" class="Table5_A2">
                  <p class="P1">
                    <span class="T1">Izishirt.ca</span>
                  </p>
                </td>
              </tr>
              <tr>
                <td style="text-align:left;width:9.331cm;" class="Table5_A2">
					<table>
						<tr>
							<td style="width:4.6655cm">
								<% if @order.billing %>
								<p class="P1">
				                    <span class="T1"><%= I18n.t(:admin_bulk_order_generate_pdf_billing_address, :locale => Language.find(@order.language_id).shortname) %></span>
				                  </p>
				                  <p class="P1">
				                    <span class="T1"></span>
				                  </p> 
				                  <p class="P1">
				                    <span class="T1"><%= @order.billing.name %></span>
				                  </p>
				                  <p class="P1">
				                    <span class="T1"><%= @order.billing.address1 %> <%= @order.billing.address2 %></span>
				                  </p>
				                  <p class="P1">
				                    <span class="T1"><%= @order.billing.town %>, <%= @order.billing.get_province %> <%= @order.billing.zip %></span>
				                  </p>
								  <p class="P1">
				                    <span class="T1"><%= @order.billing.get_country %></span>
				                  </p>
					  			<% end %>
							</td>
							
							<td  style="width:4.6655cm">
								<% if @order.shipping %>
									<p class="P1">
					                    <span class="T1"><%= I18n.t(:admin_bulk_order_generate_pdf_shipping_address, :locale => Language.find(@order.language_id).shortname) %></span>
					                  </p>
					                  <p class="P1">
				                    <span class="T1"></span>
				                  </p> 
				                  <p class="P1">
				                    <span class="T1"><%= @order.shipping.name %></span>
				                  </p>
				                  <p class="P1">
				                    <span class="T1"><%= @order.shipping.address1 %> <%= @order.shipping.address2 %></span>
				                  </p>
				                  <p class="P1">
				                    <span class="T1"><%= @order.shipping.town %>, <%= @order.shipping.get_province %> <%= @order.shipping.zip %></span>
				                  </p>
								  <p class="P1">
				                    <span class="T1"><%= @order.shipping.get_country %></span>
				                  </p>
								<% end %>
							</td>
						</tr>
	                  
				  </table>
                </td>
              </tr>
            </table>
            <p class="P2">
               
            </p>
          </td>
          <td style="text-align:left;width:9.525cm;" class="Table3_B1">
            <table border="0" cellspacing="0" cellpadding="0" class="Table4">
              <colgroup>
                <col width="123" />
                <col width="285" />
              </colgroup>

		<% if @order_id.to_i > 0 %>
			  <tr>
			<td style="text-align:left;width:2.815cm;" class="Table4_A1">
			  <p class="P3">
			    <span class="T2"><%= I18n.t(:admin_bulk_order_generate_pdf_order_id, :locale => Language.find(@order.language_id).shortname) %></span>
			  </p>
			</td>
			<td style="text-align:left;width:6.516cm;" class="Table4_B1">
			  <p class="P3">
			    <span class="T2"><%= @order_id %></span>
			  </p>
			</td>
		      </tr>
		<% end %>

              <tr>
                <td style="text-align:left;width:2.815cm;" class="Table4_A2">
                  <p class="P1">
                    <span class="T1">Date</span>
                  </p>
                </td>
                <td style="text-align:left;width:6.516cm;" class="Table4_B2">
                  <p class="P1">
                    <span class="T1"><%= Date.today %></span>
                  </p>
                </td>
              </tr>
              <tr>
                <td style="text-align:left;width:2.815cm;" class="Table4_A2">
                  <p class="P1">
                    <span class="T1"></span>
                  </p>
                </td>
                <td style="text-align:left;width:6.516cm;" class="Table4_B2">
                  <p class="P1">
                    <span class="T1"></span>
                  </p>
                </td>
              </tr>
              <tr>
                <td style="text-align:left;width:2.815cm;" class="Table4_A2">
                  <p class="P1">
                    <span class="T1"></span>
                  </p>
                </td>
                <td style="text-align:left; width:6.516cm;" class="Table4_B4">
                  <p class="P1">
                    <span class="T1"></span>
                  </p>
                </td>
              </tr>

		<% if @terms && @terms != "" %>
		      <tr>
			<td style="text-align:left;width:2.815cm;" class="Table4_A2">
			  <p class="P1">
			    <span class="T1"><%= I18n.t(:admin_bulk_order_generate_pdf_terms, :locale => Language.find(@order.language_id).shortname) %></span>
			  </p>
			</td>
			<td style="text-align:left;width:6.516cm;" class="Table4_B2">
			  <p class="P1">
			    <span class="T1"><%= @terms %></span>
			  </p>
			</td>
		      </tr>
		<% end %>

              <tr>
                <td style="text-align:left;width:2.815cm;" class="Table4_A2">
                  <p class="P1">
                    <span class="T1"></span>
                  </p>
                </td>
                <td style="text-align:left;width:6.516cm;" class="Table4_B2">
                  <p class="P1">
                    <span class="T1"></span>
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
    <div class="Sect1">
      <table border="0" cellspacing="0" cellpadding="0" class="Table1">
        <colgroup>
          <col width="92" />
          <col width="50" />
          <col width="469" />
          <col width="112" />
          <col width="109" />
        </colgroup>
        <tr>
          <td colspan="2" style="text-align:left;width:2.101cm;" class="Table1_A1">
            <p class="Table_20_Heading">
              <%= I18n.t(:admin_bulk_order_generate_pdf_quantity, :locale => Language.find(@order.language_id).shortname) %>
            </p>
          </td>
          <td style="text-align:left;width:10.732cm;" class="Table1_A1">
            <p class="Table_20_Heading">
              <%= I18n.t(:admin_bulk_order_generate_pdf_model_description, :locale => Language.find(@order.language_id).shortname) %>
            </p>
          </td>
          <td style="text-align:left;width:2.57cm;" class="Table1_A1">
            <p class="Table_20_Heading">
              <%= I18n.t(:admin_bulk_order_generate_pdf_unit_price, :locale => Language.find(@order.language_id).shortname) %>
            </p>
          </td>
          <td style="text-align:left;width:2.505cm;" class="Table1_E1">
            <p class="Table_20_Heading">
              <%= I18n.t(:admin_bulk_order_generate_pdf_price, :locale => Language.find(@order.language_id).shortname) %>
            </p>
          </td>
        </tr>
		
		<% 

		sub_total = 0.0

		@order.ordered_products.each do |product|

			if product.quantity <= 0 || product.is_extra_garment
				next
			end

		%>
	        <tr>
	          <td colspan="2" style="text-align:left;width:2.101cm;" class="Table1_A2">
	            <p class="Table_20_Contents">
	               <%= product.quantity %>
	            </p> 
	          </td>
	          <td style="text-align:left;width:10.732cm;" class="Table1_A2">
	            <p class="Table_20_Contents">


			       <%= "#{product.model.local_name(@order.language_id)}, #{product.color.local_name(@order.language_id)}, #{product.model_size.local_name(@order.language_id)}" %>

	            </p>
	          </td>
	          <td style="text-align:left;width:2.57cm;" class="Table1_A2">
	            <p class="Table_20_Contents">
	               <%= number_to_currency_custom((product.price + product.commission).round(2)) %>
	            </p>
	          </td>
	          <td style="text-align:left;width:3.505cm;" class="Table1_E2">
	            <p class="Table_20_Contents">


			<% 
			cur_price = ((product.price + product.commission) * product.quantity.to_f).round(2)

			sub_total += cur_price
			%>

	               <%= number_to_currency_custom(cur_price) %>
	            </p>
	          </td>
	        </tr>
		<% end %>
		
        <tr>
          <td colspan="3" rowspan="5" style="text-align:left;width:2.101cm;"
          class="Table1_A17">
            <p class="Table_20_Contents">
		<% if @order.total_taxes > 0 %>
		<% end %>
            </p>
            <p class="Table_20_Contents">
		<% if @order.total_taxes > 0 %>
		<% end %>
            </p>
            <p class="Table_20_Contents">
               
            </p>
            <p class="Table_20_Contents">
               
            </p>
            <p class="Table_20_Contents">
            </p>
            <p class="Table_20_Contents">
            </p>
          </td>
          <td style="text-align:left;width:2.57cm;" class="Table1_A2">
            <p class="Table_20_Contents">
              <%= I18n.t(:admin_bulk_order_generate_pdf_sub_total, :locale => Language.find(@order.language_id).shortname) %>
            </p>
          </td>
          <td style="text-align:left;width:2.505cm;" class="Table1_E2">
            <p class="Table_20_Contents">
		       <%= number_to_currency_custom(sub_total) %>
            </p>
          </td>
        </tr>

	        <tr>
	          <td style="text-align:left;width:2.57cm;" class="Table1_A2">
	            <p class="Table_20_Contents">
	              <%= I18n.t(:order_invoice_rebate, :locale => Language.find(@order.language_id).shortname)%>
	            </p>
	          </td>
	          <td style="text-align:left;width:2.505cm;" class="Table1_E2">
	            <p class="Table_20_Contents">
	               - <%= number_to_currency_custom(@order.total_rebate) %>
	            </p>
	          </td>
	        </tr>

	        <tr>
	          <td style="text-align:left;width:2.57cm;" class="Table1_A2">
	            <p class="Table_20_Contents">
	              <%= I18n.t(:generate_quote_html_shipping, :locale => Language.find(@order.language_id).shortname)%>
	            </p>
	          </td>
	          <td style="text-align:left;width:2.505cm;" class="Table1_E2">
	            <p class="Table_20_Contents">
	               <%= number_to_currency_custom(@order.total_shipping) %>
	            </p>
	          </td>
	        </tr>
        
	        <tr>
	          <td style="text-align:left;width:2.57cm;" class="Table1_A2">
	            <p class="Table_20_Contents">
	              Taxes
	            </p>
	          </td>
	          <td style="text-align:left;width:2.505cm;" class="Table1_E2">
	            <p class="Table_20_Contents">
	               <%= number_to_currency_custom(@order.total_taxes) %>
	            </p>
	          </td>
	        </tr>
        <tr>
          <td style="text-align:left;width:2.57cm;" class="Table1_A2">
            <p class="P5" style="text-align: center;">
              <%= I18n.t(:admin_bulk_order_generate_pdf_total, :locale => Language.find(@order.language_id).shortname) %>
            </p>
          </td>
          <td style="text-align:left;width:2.505cm;" class="Table1_E2">
            <p class="Table_20_Contents">
               <%= number_to_currency_custom(@order.total_price) %>
            </p>
          </td>
        </tr>

      </table>
	  
<!--
	  <table border="0" cellspacing="0" cellpadding="0" class="Table2" style="width: 501px">
	      <colgroup>
	        <col width="502" />
	      </colgroup>
	      <tr>
	        <td style="text-align:left;width:11.781cm;" class="Table2_A1">
	          <p class="Table_20_Contents">
	             
	          </p>
	          <p class="Table_20_Contents">
	            
	          </p>
	        </td>
	      </tr>
	    </table>
-->
	  
      <p class="Standard"></p>
    </div>
    <p class="Standard">
       
    </p>
  </body>
</html>
