<br /><br />
<table width="100%" border="0" cellpadding="3">
  <tr>
  	<th>Nb T-shirts with prints</th>
	<th>Nb T-shirts without print</th>
    <th>Sub-Total</th>
    <th>Taxes</th>
    <th>Shipping</th>
    <th>Grand-Total</th>
    <th>Designs uploaded</th>
    <th>Nb boutiques opened</th>
    <th>Active boutiques</th>
    <th>Ratio A. vs stores</th>
    <th>Ratio A. vs non empty stores</th>
  </tr>
  <tr>
  	<td><%= @nb_products_with_print %></td>
	<td><%= link_to @nb_products_without_print, {:controller => "order", :action => "list", :id => "without_print", :start => @start, :end => @end} %></td>
    <td><%= display_money_hash(@sub_total) %></td>
    <td><%= display_money_hash(@tax_total) %></td>
    <td><%= display_money_hash(@ship_total) %></td>
    <td><%= display_money_hash(@grand_total) %></td>
    <td><%= @count_img %></td>
    <td><%= @nb_boutiques_opened %></td>
    <td><%= @nb_active_stores %></td>
    <td><%= (@ratio_active_boutiques.to_f * 100.0).round(2) %> %</td>
    <td><%= (@ratio_active_boutiques_with_something.to_f * 100.0).round(2) %> %</td>
  </tr>
</table>
<br /><br />
<a href="#" onclick="javascript:$('details').style.display='block';">Details</a>
<br /><br />
<div id="details" style="display:none" >
  <table width='100%' border="0" cellpadding="3">
    <tr>
      <th>Order</th>
      <th>Created On</th>
      <th>Month</th>
      <th>Total Price</th>
      <th>Shipping </th>
      <th>Tax </th>
      <th>Label</th>
      <th>Status</th>
      <th>Name</th>
      <th>Type</th>
      <th>Authcode</th>
      <th>Code</th>
      <th>Country</th>
      <th>Address</th>
      <th>Town</th>
      <th>Zip</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>CP ID</th>
    </tr>

    <tbody id='listing'>
      <%= render :partial => 'profit_listing' %>
    </tbody>
  </table>
</div>
