<p id="title_green">
  <%= t(:why_join_izishirt).mb_chars.upcase %>
</p>
<ul>
	<li><%= t(:left_subscribe_1) %></li>
	<li><%= t(:left_subscribe_2) %></li>
	<li><%= t(:left_subscribe_3) %></li>
	<li><%= t(:left_subscribe_4) %></li>
	<li><%= t(:left_subscribe_5) %></li>
	<li><%= t(:left_subscribe_6) %></li>
</ul>
