<div id="copyright_popup">
  <h1><%=t(:design_copyright_info)%></h1>
  <div id="left_column">
    <div class="column_title"><%=t(:copyright_infringement)%></div>
    <p><%=t(:copyright_infringement_explanation)%></p>
  </div>

  <div id="right_column">
    <div class="column_title"><%=t(:breach_of_personal_rights)%></div>
    <p><%=t(:breach_of_personal_rights_explanation)%></p>
  </div>
  <div class="clear"></div>
  
  <div id="bolded_sentence">
    <%=t(:blacklisted_design)%>
  </div>

  <%= image_tag "izishirt2011/copyright.jpg" %>

</div>