<div id="pp_request_payment" style="width: 300px; height: 177px;">

    <h1><%= t(:my_izishirt_2011_request_payment_title) %></h1>

    <p>
      <%= image_tag("/images/boutiques_2010/clock2.jpg") %> <%= t(:my_izishirt_2011_request_payment_2) %>
    </p>
    
    <p>
      <strong>
        <%= t(:my_izishirt_2011_request_payment_3, :phone=>get_phone_number) %>
      </strong>
    </p>

    <p>
      <strong>
        <%= t(:my_izishirt_2011_request_payment_4) %>
      </strong>
    </p>
    
</div>