<div id="pp_sell_designs_izishirt">
	<h1><%=t(:sell_designs)%></h1>
  <p><%=t(:sell_designs_text1)%></p>
    <p><img src="/images/izishirt2011/icon_exclamation.jpg" width="20" height="20" align="left" vspace="3" hspace="5" /><%=t(:sell_designs_text2)%> <br />
    <a href="#"><%=t(:sell_designs_text3)%></a></p>
    <p><img src="/images/izishirt2011/icon_exclamation.jpg" width="20" height="20" align="left" vspace="10" hspace="5" /><%=t(:sell_designs_text4)%><br /><a href="#"><%=t(:sell_designs_text5)%></a></p>
    
      <div id="make_design_public">
        <a href="#" class="button_public" title="<%=t(:sell_designs_text6)%>"><%=t(:sell_designs_text6)%></a>
  </div>
</div>
