<div class="append-3 prepend-3 span-23 breadcrumb last">
  <%= link_to t(:menu_home), "/", :class => 'mediumGray noDecoration bold' %>
  <%= image_tag "izishirt2009/blueArrows.png", {:class=> 'middle', :alt => ">>"} %>
  <%= link_to "<strong>" + t(:display_home_see_more1) + "</strong>", '',
    :class => 'mediumGray noDecoration bold' %>
</div>

<div class="prepend-3 append-3 span-23 flashPage last" >
  <div class="left leftFlashBanner">
    <%= image_tag "izishirt2009/#{session[:language]}/5items.jpg", {:alt=>t(:left_flash_banner_alt)} %>
  </div>
  <div class="left rightFlashContent prepend-18-px" >
	<!--  BEGIN Browser History required section -->
	<link rel="stylesheet" type="text/css" href="/bin/history/history.css" />
	<!--  END Browser History required section -->
	
	<script src="/bin/AC_OETags.js" language="javascript"></script>
	<script src="/javascripts/extMouseWheel.js" language="javascript"></script>
	
	<!--  BEGIN Browser History required section -->
	<script src="/bin/history/history.js" language="javascript"></script>
	<!--  END Browser History required section -->
		
	<script language="JavaScript" type="text/javascript">
	<!--
	// -----------------------------------------------------------------------------
	// Globals
	// Major version of Flash required
	var requiredMajorVersion = 9;
	// Minor version of Flash required
	var requiredMinorVersion = 0;
	// Minor version of Flash required
	var requiredRevision = 28;
	// -----------------------------------------------------------------------------
	// -->
	</script>
	
	<body scroll="no">
	<script language="JavaScript" type="text/javascript">
	<!--
	// Version check for the Flash Player that has the ability to start Player Product Install (6.0r65)
	var hasProductInstall = DetectFlashVer(6, 0, 65);
	
	// Version check based upon the values defined in globals
	var hasRequestedVersion = DetectFlashVer(requiredMajorVersion, requiredMinorVersion, requiredRevision);
	
	if ( hasProductInstall && !hasRequestedVersion ) {
		// DO NOT MODIFY THE FOLLOWING FOUR LINES
		// Location visited after installation is complete if installation is required
		var MMPlayerType = (isIE == true) ? "ActiveX" : "PlugIn";
		var MMredirectURL = window.location;
	    document.title = document.title.slice(0, 47) + " - Flash Player Installation";
	    var MMdoctitle = document.title;
	
		AC_FL_RunContent(
			"src", "/bin/playerProductInstall",
			"FlashVars", "<%="sessionVar=#{request.session_options[:id]}&sessionLanguage=#{session[:language]}"%>&MMredirectURL="+MMredirectURL+'&MMplayerType='+MMPlayerType+'&MMdoctitle='+MMdoctitle+"",
			"width", "100%",
			"height", "100%",
			"align", "middle",
			"id", "Izishirt",
			"quality", "high",
			"bgcolor", "#ffffff",
			"name", "Izishirt",
			"allowScriptAccess","sameDomain",
			"type", "application/x-shockwave-flash",
			"pluginspage", "http://www.adobe.com/go/getflashplayer"
		);
	} else if (hasRequestedVersion) {
		// if we've detected an acceptable version
		// embed the Flash Content SWF when all tests are passed
		AC_FL_RunContent(
				"src", "/bin/Izishirt6",
				"width", "100%",
				"height", "100%",
				"align", "middle",
				"id", "Izishirt",
				"quality", "high",
				"bgcolor", "#ffffff",
				"name", "Izishirt",
				"FlashVars","<%=@flash_vars%>", 
				"allowScriptAccess","sameDomain",
				"type", "application/x-shockwave-flash",
				"pluginspage", "http://www.adobe.com/go/getflashplayer"
		);
	  } else {  // flash is too old or we can't detect the plugin
	    var alternateContent = 'Alternate HTML content should be placed here. '
	  	+ 'This content requires the Adobe Flash Player. '
	   	+ '<a href=http://www.adobe.com/go/getflash/>Get Flash</a>';
	    document.write(alternateContent);  // insert non-flash content
	  }
	// -->
	</script>
	<noscript>
		<div style="width:657px;height:532px;" id="flashContainerDiv">
	  	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
				id="Izishirt" width="100%" height="100%"
				codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
				<param name="movie" value="Izishirt6.swf" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#ffffff" />
    			<param name="FlashVars" value="<%=@flash_vars%>" />
				<param name="allowScriptAccess" value="sameDomain" />
				<embed src="/bin/Izishirt6.swf" quality="high" bgcolor="#ffffff"
					width="100%" height="100%" name="Izishirt" align="middle"
					play="true"
					loop="false"
					quality="high"
					allowScriptAccess="sameDomain"
					type="application/x-shockwave-flash"
					pluginspage="http://www.adobe.com/go/getflashplayer">
				</embed>
		</object>
		</div>
	</noscript>
  </div>
</div>
