 <%= javascript_include_tag "2012/jquery.dd.min.js"%>
  <% if !session[:user_id]
    @user_level = "NA"
  else
    @user_level = User.find(session[:user_id]).user_level.id
  end 
  
    %>
<div id="header">
	<div id="logo"><a href="#"><img src="/../images/izishirt2012/logo.png" width="328" height="102" alt=""></a></div>
	<div id="headerrightpart">
		<!--div id="shoping" class="fl_right">$0.00</div-->
		<% if @controller.controller_name != 'checkout' %>
		  <div id="shoping" class="fl_right">
			<% link_to(@URL_ROOT + "/checkout2/show_cart",:rel=>"no_follow") do %>
			<span id="link_to_cart_text" style="display:inline;border:none;background:none;"><%= @human_cart %></span>
		  </div>
		<% end %>
	<% end %>

		<div id="call">
			<h1><%= t(:tel_2)%></h1>
			<ul class="dropdown">
			<li>
			<div class="fl_right" style="padding-top:5px;">
			          <a href="#" title="<%=t(:flag_alt, :country=>session[:country_long])%>" ><% #= session[:country]  %>
            <%= session[:country_long] %> <%= t(:lang) if !['us','fr', 'es'].include?(@alt_country.downcase) %> 
			<%
            country = @alt_country.downcase
            file_exists = FileTest.exists?("./public/images/izishirt2011/flags/#{country}.png")
			
			if file_exists
            %>
              <%= image_tag "izishirt2011/flags/#{@alt_country.downcase}.png", :alt=>t(:flag_alt, :country=>session[:country_long]), :width=>16, :height=>8, :hspace=>2, :align=>'absmiddle'%>
            <% else %>
              <%= image_tag "flags/#{@alt_country.downcase}.gif", :alt=>t(:flag_alt, :country=>session[:country_long]), :width=>16, :height=>8, :hspace=>2, :align=>'absmiddle'%>
            <% end %>

            <%= image_tag "izishirt2011/arrow-top-menu.gif", :width=>10, :height=>5 %>

          </a>
		  

        <ul  style="z-index:3000;" class="dropdown-menu">
		<% @lang_infos_for_layout.sort{ |x, y| x[1][:order] <=> y[1][:order] }.each do |lang, lang_infos| %>
			<% #if @langs_available.include?(lang) %>
                          <% height=12
                             height=8 if lang_infos[:flag_file]=="ca.png" %>
				  <li class="">
				    <% link_to(country_home(lang, lang_infos[:country]), :title=>"#{lang_infos[:alt_name]} #{t(:flag_alt2)}") do %>
				      <%= lang_infos[:label_name] %> <%= image_tag("izishirt2011/flags/#{lang_infos[:flag_file]}", :alt=>"#{lang_infos[:alt_name]} #{t(:flag_alt2)}") %> 
				    <% end %>
				  </li>
			<% #end %>
		<% end %>
        </ul>

      </li>
      </ul>
				<!--select name="countries" id="countries" style="width:150px;">
				<OPTION VALUE="http://www.google.com">Google</OPTION>
					<option value='ad' data-image="/../images/izishirt2012/blank.gif" data-imagecss="flag ad" data-title="Andorra">Andorra</option>
					<option value='ae' data-image="/../images/izishirt2012/blank.gif" data-imagecss="flag ae" data-title="United Arab Emirates">United Arab Emirates</option>
					<option value='af' data-image="/../images/izishirt2012/blank.gif" data-imagecss="flag af" data-title="Afghanistan">Afghanistan</option>
					<option value='ag' data-image="/../images/izishirt2012/blank.gif" data-imagecss="flag ag" data-title="Antigua and Barbuda">Antigua and Barbuda</option>
					<option value='ai' data-image="/../images/izishirt2012/blank.gif" data-imagecss="flag ai" data-title="Anguilla">Anguilla</option>
				</select-->
			</div>
		</div>
		<div class="clear"></div>
		<ul id="login">
		  <% if session[:user_id] %>
		  
			<li>
		  
			<span>
			  <%= t(:menu_hello) +" #{truncate(@logged_in_username+"!", :length => 18)}"%>
			</span>
		  
			<%= link_to t(:display_home_deconnexion),
			  {:controller => "myizishirt/login/logout"}, :class=>"lastone", :style=>"color:#444;"
		  %>
			  </li>
		  
		  <% else %>
			  <li style="padding-right:0px;">
		  
		  
			<%= link_to "Login",
			  {:controller => 'myizishirt/login', :action => 'lightbox'},
			  :class=>"login_modalbox", :id=>"modalbox_login", :style=>"color:#444;" %>
		  
			<%= link_to t(:forgot_password),
			  {:controller => 'myizishirt/login', :action => 'lightbox_lost'},
			  :class=>"password_modalbox", :id=>"link_forgot_password", :style=>"color:#444;" %>
		  
			  </li>
		  <% end %>
			<!--li><a href="#"> Login</a></li>
			<li><a href="#" style="padding-right:0px;">Forgot your password ?</a></li-->
		</ul>
	</div>
	<div class="clear"></div>
</div>


  <ul id="menu">
  	  <%
		if session[:country] && session[:country]=="FR"
		@URL_ROOT="http://frch.izishirt.ca"
		end
	  
	  %>
	<li><%= link_to(t(:home), "#{@URL_ROOT}#{print_force_lang}")%></li>
	<li><%= link_to(t(:create), create_tshirt_url())%>
	  <ul>
		<li><%= link_to("T-shirts", create_tshirt_url()) %></li><!--model_url(69)-->
		<li><%= link_to(t(:hoodies), model_url(100))%></li>
		<li><%= link_to(t(:tank_tops), model_url(56))%></li>
		<li><%= link_to(t(:sports_tees), model_url(45))%></li>
		<li><%= link_to(t(:tote_bags), model_url(85))%></li>
		<li><%= link_to(t(:aprons), model_url(108))%></li>
		<li><%= link_to(t(:kids_apparel), model_url(35))%></li>
	  </ul>
	</li>
	<li><%= link_to(t(:marketplace), "/" + t(:new_marketplace_main_url))%></li>
	<li><%= link_to(t(:wholesale_menu), "/" + t(:new_bulk_main_url))%>
	  <ul>
		<li><%= link_to(t(:bulk_orders_menu_24h), "/" + t(:new_bulk_main_url))%></li>
	  </ul>
	</li>
	<li><%= link_to t(:menu_about), {:controller => '/display', :action => 'about_us'}%>
	  <ul><li><%= link_to t(:shipping_and_refunds), {:controller => '/display', :action => 'shipping_info'}%></li></ul>
	</li>
	<li><%= link_to("Contact", {:controller=>"/display", :action=>"contact"})%></li>
	<!--li><a href="#">My Account</a></li>
	<li><a href="#">Instant Quote</a></li>
	<li><a href="#">Screen Printing</a></li-->
	
  </ul>
<script>
$j(document).ready(function(e) {		
	
	//convert
	 $j("select").msDropdown();
	//createByJson();
	$j("#tech").data("dd");
});
$j('ul.dropdown').hover(
    function(){
        $j(this).find('ul').slideDown();
    },
    function(){
        $j(this).find('ul').slideUp();
    });

//
</script>
<style>
ul.dropdown-menu {
    display: none;
	z-index:9999;
}

li.dropdown-menu {
    position:relative;
}
</style>

